<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div id="homeName">
        <a routerLink="/home" style="font-size: 60px; padding-left:25px;">𝕱𝖑𝖔𝖜𝖊𝖗𝕶</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
           
            <li>
                <button mat-button [matMenuTriggerFor]="menu">KATALOZI</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/a">Valentinovo</button>
                    <button mat-menu-item routerLink="/b">Godišnjice</button>
                    <button mat-menu-item routerLink="/c">Rođendani</button>
                </mat-menu>
            </li>
            
            <li>
                <button mat-button routerLink="/a">A</button>
            </li>

            <li>
                <button mat-button routerLink="/b">B</button>
            </li>

            <li>
                <button mat-button routerLink="/c">C</button>
            </li>
                    
            <!-- <li *ngIf="isAuthorized()">
                <a [routerLink]="['/login']">Logout</a>
            </li> -->
        </ul>
    </div>
</mat-toolbar>